@model List<CommunicationsApp.Application.DTOs.Channel_BriefOverview>

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
}

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createChannelModal">Create a new channel</button>

<div class="modal fade" id="createChannelModal" tabindex="-1" aria-labelledby="createChannelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create new channel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createChannelForm" asp-controller="Channels" asp-action="Create">
                    <div class="form-group">
                        <input required name="name" type="text" class="form-control" placeholder="Enter channel name">
                    </div>
                    <div class="form-group">
                        <label for="members">Select members</label>

                        <input required id="memberSearchInput" name="memberSearch" type="text" class="form-control" placeholder="Type in a username or email">
                        <div id="membersSearchResult">
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Create" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
        <p class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"></svg>
            <span class="fs-5 fw-semibold">Your channels</span>
        </p>

        <div id="channelsSidebar" class="list-group list-group-flush border-bottom scrollarea">
            @if (!Model.Any())
            {
                <p>No channels as of now</p>
            }
            else
            {
                foreach (var channel in Model)
                {
                    <partial name="_ChannelSidebarGroupPartial" model="channel" />
                }
            }
        </div>
    </div>
    <div id="messagesViewing" class="flex-grow-1 text-center p-3" style="background: lightgray">
        <p class="fst-italic">Welcome</p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/signalr/dist/browser/signalr.js"></script>
    <script src="/js/chatConnectionSetup.js"></script>

    <script src="/js/memberSearchAjax.js"></script>
    <script src="/js/createChannelAjax.js"></script>
    <script src="/js/showChannelAjax.js"></script>
}