<div class="w-100 h-100 d-flex flex-column align-items-center">
        <span class="mb-3"><i class="fa-regular fa-folder-open fa-8x"></i></span>

        <h3>Page not found</h3>
        <p>We could not find what you were looking for</p>
</div>