<form id="resendEmailVerificationForm" asp-action="ResendEmailConfirmation">
    <p>Try resending email confirmation:</p>
    <div class="form-group">
        <label for="email"></label>
        <input required name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <input type="submit" value="Resend email confirmation" class="btn btn-primary" />
    </div>
</form>