@model bool?

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
}

@if (!Model.HasValue)
{
    <h3>Please check your email to confirm your account so you can log in!</h3>
    <partial name="_ResendEmailConfirmationFormPartial" />
}
else
{
    if (Model.Value)
    {
        <p>Your email was confirmed!</p>
    }
    else
    {
        <p>Your email could not be confirmed :(</p>
        <partial name="_ResendEmailConfirmationFormPartial" />
    }
}

@section Scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="~/js/emailVerificationAjax.js"></script>
}