@model CommunicationsApp.Web.Models.LoginDTO

<form asp-action="Login">
    <div class="form-group">
        <span asp-validation-summary="ModelOnly" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="submit" value="Sign up" class="btn btn-primary" />
    </div>
</form>