html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 97vh;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
}

.message-container {
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.message-bubble {
    background-color: #f8f9fa;
    padding: 10px 16px;
    border-radius: 1em;
    max-width: 60%;
    word-wrap: break-word;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.sender-message-container {
    justify-content: flex-end;
}

.sender-message-bubble {
    background-color: #007bff;
    color: white;
}